<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Ray-Ban</title>
<!-- add icon link -->
<link rel = "icon" type = "image/png" href = "images/S.png">

</head>

<body>

	<!-- Header -->
  <div th:insert="Header.html"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row">

			<div class="col-lg-3">
				<h1 class="my-4">GENUINE SINCE 1937</h1>
				<div class="list-group">
					<a href="/men" class="list-group-item">For Men</a> <a href="/women"
						class="list-group-item">For Women</a> <a href="/kids"
						class="list-group-item">For Kids</a>
				</div>
			</div>
		<!-- /.col-lg-3 -->
		
			<div class="col-lg-9">
				<div class="list-group">
					<h4 class="my-4">Delivery</h4>
					<strong>Is the delivery free for all over Nepal?</strong>
					<p class="card-text">Yes delivery is free all over Nepal.</p>
					<br>
					<strong>Do I need to pay for delivery charges outside Kathmandu valley?</strong>
					<p class="card-text">Yes delivery charges may incur.</p>
					<br>
					<strong>Are the products delivered on all day of the week?</strong>
					<p class="card-text">The products are only delivered on business days from Sunday to Friday.</p>
					<br>
					<strong>When will I receive the product?</strong>
					<p class="card-text">YProducts will be delivered within 2 days from the date of order inside Kathmandu Valley . For outside Kathmandu Valley the time may vary depending upon you location.</p>
					<br>
					
					<h4 class="my-4">Exchange and Return</h4>
					<strong>What is Rayban.com exchange and return Policy?</strong>
					<p class="card-text">Rayban.com’s exchange and return Policy offers 5 days of exchange and return from the date of your purchase. (e.g.: if you purchased your product of Jan 1st you can exchange and return it until Jan 5th).</p>
					<p class="card-text">All the products to be returned must be in its original form without any defects whatsoever. (e.g.: the sunglasses must not contain any damages and must be returned intact with the box if provided with.)</p>
					<p class="card-text">Products can only be exchanged for different sizes.</p>
					<br>
					<strong>How does Rayban.com exchange and return Policy work?</strong>
					<p class="card-text">Rayban.com’s 5 day exchange and return policy gives you the option to exchange or return the product you have purchased.</p>
					<p class="card-text">However, the state and condition of the item must be same at the time of purchase. You can try on the item, although do so with special care.</p>
					<p class="card-text">NOnce the item is returned to us it will go through our quality check and after if passes the test we will refund the amount to you.</p>
					<br>
					<strong>Will there be extra charge for product I exchange?</strong>
					<p class="card-text">No, there is no extra charge.</p>
					<br>
					
					<h4 class="my-4">Payment</h4>
					<strong>What payment methods do we accept?</strong>
					<p class="card-text">Currently we accept only cash on delivery and esewa , bank payments and IME.</p>
					<p class="card-text">Outside valley cash on delivery services </p>
					<ul>
					<li>Butwal</li>
					<li>Chitwan</li>
					<li>Dharan</li>
					<li>Pokhara</li>
					<li>Hetauda</li>
					<li>Itahari</li>
					</ul>
					<p class="card-text">Outside valley cash on delivery services </p>
					<br>
					<strong>How do I pay for products if I am located outside Kathmandu Valley ?</strong>
					<p class="card-text">You will need to deposit the the amount of the product to our bank account , IME or esewa. After verifying the amount your product will be dispatched to your location. Delivery time may range from 2 days or more.</p>
					<br>
					<strong>Can I use cheque to pay for the items I purchased?</strong>
					<p class="card-text">No, we only accept hand cash.</p>
					<br>
					
					<h4 class="my-4">Cancellation</h4>
					<strong>How can I cancel my order?</strong>
					<p class="card-text">SMS or call us at 9851200990 .</p>
					<br>
				</div>
			</div>
		
		</div>
	</div>
	<!-- /.container -->

  <!-- Footer -->
  <div th:insert="Footer.html"></div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
