<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ray-Ban</title>
  <!-- add icon link -->
  <link rel = "icon" type = "image/png" href = "images/S.png">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>

<body>
<!-- Header -->
  <div th:insert="Header.html"></div>

 <!-- Page Content -->
	<div class="container">

			<div class="row">

				<div class="col-lg-3">

					<h1 class="my-4">GENUINE SINCE 1937</h1>
					<div class="list-group">
						<a href="/men" class="list-group-item">For Men</a> <a
							href="/women" class="list-group-item">For Women</a> <a
							href="/kids" class="list-group-item">For Kids</a>
					</div>

				</div>
				<!-- /.col-lg-3 -->
				
				<div class="col-lg-9">
				
				</div>
				<!-- /.col-lg-9 -->
				
			</div>
			<!-- /.row -->
			
		</div>
	<!-- /.container -->

  <!-- Footer -->
  <div th:insert="Footer.html"></div>

	<!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
